body {
    margin: 0;
    padding: 0;
}

.paintbot-logo {
    position: absolute;
    z-index: 1;
    top: 2%;
    right: 2%;
    width: 16vh;
    height: 9vh;
    background: url(../pics/AAA_paintbot.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.paintbot-container {
    position: absolute;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.paintbot-header {
    position: relative;
    text-align: center;
    width: 100%;
    height: 6%;
    font-family: "Berlin Sans FB";
    font-size: 5.5vh;
    font-style: normal;
    color: white;
    background-color: #0D7E83;
}

.paintbot-paintarea {
    position: relative;
    width: 100%;
    height: 94%;
    background: url("../pics/paintarea-background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.paintbot-alert {
    position: absolute;
    width: 100%;
    height: 6%;
    top: 94%;
    background-color: #ff3c3c;
    font-family: "Berlin Sans FB";
    font-size: 4.5vh;
    color: white;
    text-align: center;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s ;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
}

.paintbot-painting {
    position: relative;
    width: 98%;
    height: 96%;
    top: 2%;
    left: 1%;
    background: url(../pics/paintarea.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);
}
